@import "tailwindcss";

@theme {
    --breakpoint-wide: 1400px;
    
} 


@layer utilities {
    .max-container {
        max-width: theme("breakpoint.wide");
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

} 